/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	text-align:center;
	margin-bottom: 200px;
}

h2 {
	margin-top:10%;
	font-size: 3.5em;
	text-align: left
}

h3 {
	margin-top: 25px;
	text-align: left
}

h4 {
	margin-top: 35px;
	text-align: left;
}

h5 {
	margin-top: 35px;
	text-align: left;
}

h6 {
	text-align: left;
	margin-top: 20px;
}

img.rocket {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
	position:relative;
	top:2em;
	margin:0;
	padding:0;
}
ul li {
	display:inline;
	padding:0;
	margin:0;
}

ul li:last-child:before {
	content:"or";
	font-style:italic;
	font-size:1em;
	padding-right:1em;
	padding-left:0.8em;
}

a {
	text-decoration:none;
	border-bottom:0.1em dotted rgba(0,0,0,0.2);
	font-size: 1.0em;
}

a:hover {
	color:#ff0000;
}

/* Slide Up Boxes Styling
================================================== */

#page-wrap {width: 370px; margin: 60px auto; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
h1 { font: 32px Helvetica, Arial, Sans-Serif; margin: 0 0 20px 0; }
p { margin: 0 0 20px 0; }
a { text-decoration: none; }

.slide-up-boxes a { 
	display: block; 
	height: 130px; 
	margin: 0 0 20px 0; 
	background: rgba(215, 215, 215, 0.5); 
	border: 1px solid #ccc; 
	height: 65px; 
	overflow: hidden; 
}

.slide-up-boxes h5 { 
	color: #333; 
	text-align: center;
	height: 65px; 
	font: italic 18px/65px Georgia, Serif;    /* Vertically center text by making line height equal to height */
	 opacity: 1;
	 -webkit-transition: all 0.2s linear; 
	 -moz-transition: all 0.2s linear; 
	 -o-transition: all 0.2s linear;
}

.slide-up-boxes a:hover h5 { 
	margin-top: -65px; 
	opacity: 0; 
}

.slide-up-boxes div { 
	position: relative; 
	color: white; 
	font: 12px/15px Georgia, Serif;
	height: 45px; 
	padding: 10px; 
	opacity: 0; 
	-webkit-transform: rotate(6deg); 
	-webkit-transition: all 0.4s linear; 
	-moz-transform: rotate(6deg); 
	-moz-transition: all 0.4s linear; 
	-o-transform: rotate(6deg); 
	-o-transition: all 0.4s linear; 
}
.slide-up-boxes a:hover div { 
	opacity: 1; 
	-webkit-transform: rotate(0); 
	-moz-transform: rotate(0); 
	-o-transform: rotate(0); 
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName-iefix.eot') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
/* Localized */